# ===============================

# Python

# ===============================

**pycache**/
*.py[cod]
*$py.class

# Virtual environments

venv/
.env/
.env

# Distribution / packaging

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# ===============================

# Logs

# ===============================

*.log
logs/

# ===============================

# Jupyter Notebook

# ===============================

.ipynb_checkpoints/

# ===============================

# VS Code

# ===============================

.vscode/

# ===============================

# OS files

# ===============================

.DS_Store
Thumbs.db

# ===============================

# Data files (IMPORTANT)

# ===============================

data/*.csv
data/*.parquet
data/*.json

# Keep small sample dataset

!data/sample_wb_movies.csv

# ===============================

# Kafka / Zookeeper

# ===============================

/kafka-logs/
/zookeeper/
/tmp/kafka-logs/

# ===============================

# Spark

# ===============================

spark-warehouse/
metastore_db/
*.crc

# ===============================

# Streamlit

# ===============================

.streamlit/secrets.toml

# ===============================

# Temporary files

# ===============================

*.tmp
*.swp

# ===============================

# Environment variables

# ===============================

.env.local
.env.*.local

# ===============================

# PySpark

# ===============================

derby.log

# ===============================

# Mac/Linux system files

# ===============================

*.pid
*.seed
*.out
